<a href="https://colab.research.google.com/github/Thanuja301/ML_23AG1A66J0/blob/main/DATA_PROCESSING.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import pandas as pd
df = pd.read_csv('/content/dataprocessing.csv')

In [4]:
df.head()

    Name   Age Gender  Marks      City
0  Alice  18.0      F   85.0    London
1    Bob   NaN      M   90.0  New York
2  Cathy  19.0      F   95.0       NaN
3  David  17.0      M   72.0    Sydney
4    Eva  18.0      F    NaN    London

**Handling Missing Values**
Missing values are filled using fillna function

In [5]:
df.fillna({
    'Age': df['Age'].mean()
}) # Removed inplace=True
print(df)

    Name   Age Gender  Marks      City
0  Alice  18.0      F   85.0    London
1    Bob   NaN      M   90.0  New York
2  Cathy  19.0      F   95.0       NaN
3  David  17.0      M   72.0    Sydney
4    Eva  18.0      F    NaN    London

In [6]:
df_dict={
    'Name': ['Alice','Bob','Alice'],
    'Age' : [18,18,18],
    'Gender' : ['F','M','F'],
    'Marks' : [85,90,85]
}
df1 = pd.DataFrame(df_dict)
print("Original data")
print(df1)

df1_no_duplicates = df1.drop_duplicates()
print("\nData after removing duplicates")
print(df1_no_duplicates)

Original data
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90
2  Alice   18      F     85

Data after removing duplicates
    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   18      M     90

In [7]:
import pandas as pd
df = pd.DataFrame({
    'Name': ['Arjun', 'Sam'],
    'Age': ['25', '30'],
    'Salary'  : ['50000', '60000']
})
print(df.dtypes)

Name      object
Age       object
Salary    object
dtype: object

In [8]:
df['Age'] = df['Age'].astype(int)
df['Salary'] = df['Salary'].astype(float)
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

for converting into data type use astype()

for handling errors use pd.to_numeric()
nd set errors as "NaN"

In [9]:
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')
df['Salary'] = pd.to_numeric(df['Salary'], errors='coerce')
print(df.dtypes)

Name       object
Age         int64
Salary    float64
dtype: object

convert text categories into number for analysis

In [10]:
df1['Gender'] = df1['Gender'].map({'M': 1, 'F': 0})
print(df1)

    Name  Age  Gender  Marks
0  Alice   18       0     85
1    Bob   18       1     90
2  Alice   18       0     85

Use one-hot encoding fr city
pd.get_dummies()

In [11]:
df_original = pd.read_csv('/content/dataprocessing.csv')
df_encoded = pd.get_dummies(df_original, columns=['City'], dummy_na=False)
print(df_encoded)

    Name   Age Gender  Marks  City_London  City_New York  City_Sydney
0  Alice  18.0      F   85.0         True          False        False
1    Bob   NaN      M   90.0        False           True        False
2  Cathy  19.0      F   95.0        False          False        False
3  David  17.0      M   72.0        False          False         True
4    Eva  18.0      F    NaN         True          False        False

In [12]:
from sklearn.preprocessing import MinMaxScaler
scaler = MinMaxScaler()
df_encoded['Marks'] = scaler.fit_transform(df_encoded[['Marks']])
print(df_encoded)

    Name   Age Gender     Marks  City_London  City_New York  City_Sydney
0  Alice  18.0      F  0.565217         True          False        False
1    Bob   NaN      M  0.782609        False           True        False
2  Cathy  19.0      F  1.000000        False          False        False
3  David  17.0      M  0.000000        False          False         True
4    Eva  18.0      F       NaN         True          False        False

Feature Scaling-  Brings all numeric data to same scale


---

In [15]:
import pandas as pd
df = {
    'Name': ['Alice', 'Bob', 'Cathy','David'],
    'Age': [18,20,22,19],
    'Gender': ['F','M','F','M'],
    'Marks': [85,90,88,92]
}
df = pd.DataFrame(df)
print(df)

    Name  Age Gender  Marks
0  Alice   18      F     85
1    Bob   20      M     90
2  Cathy   22      F     88
3  David   19      M     92

creating new features

In [16]:
def grade(marks):
  if marks >= 85 :
    return 'A'
  elif marks >= 70:
    return 'B'
  elif marks >= 50:
    return 'C'
  else:
    return 'F'
df['Grade'] = df['Marks'].apply(grade)
print(df)

    Name  Age Gender  Marks Grade
0  Alice   18      F     85     A
1    Bob   20      M     90     A
2  Cathy   22      F     88     A
3  David   19      M     92     A

In [19]:
bins =[0,18,21,100]
labels =['Teen','Young','Adult']
df['Age_Group'] = pd.cut(df['Age'], bins=bins, labels=labels, right=False)

In [18]:
df = df[(df['Marks']>=60) & (df['Marks']<=100)]
print(df)

    Name  Age Gender  Marks Grade
0  Alice   18      F     85     A
1    Bob   20      M     90     A
2  Cathy   22      F     88     A
3  David   19      M     92     A